<% provide(:title, "About/FAQ") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="active">About/FAQ</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-8 columns">

        <h3>Frequently Asked Questions</h3>

        <p>Can’t find the answer you're looking for? Contact <a href="https://www.ebenefits.va.gov/ebenefits-portal/ebenefits.portal?_nfpb=true&_nfxr=false&_pageLabel=ContactMain">the help desk</a>.
        </p>

        <ul class="anchor-nav" id="top">
          <li><a href="#general">General Information</a></li>
          <li><a href="#job_seekers">For Job Seekers</a></li>
          <li><a href="#employers">For Employers</a></li>
        </ul>

        <a name="general"></a>
        <h4>General Information</h4>
			<h5>What is the Veterans Employment Center&trade; (VEC)?</h5>
            <p>The VEC is the federal government’s single authoritative internet source for connecting transitioning Servicemembers, Veterans, and their families to meaningful career opportunities. The VEC is the first government-wide product that brings together a reputable cadre of public and private employers with real job opportunities, and provides transitioning Servicemembers, Veterans, and their families with the tools to translate their military skills into plain language and build a profile that can be shared – in real-time – with employers who have made a public commitment to hire Veterans. In connection with the First Lady and Dr. Biden’s Joining Forces initiative, the Departments of Veterans Affairs, Labor, Defense and Education, the Small Business Administration, and the Office of Personnel Management collaborated to design and develop the VEC to incorporate the best features of existing online employment tools.</p>

			<h5>How can I get a tour of the VEC?</h5>
            <ul>
              <li>
              Watch a <a href="http://www.youtube.com/watch?v=VWfhI-eSoWk", target="blank">video introduction</a> to the site.
              </li>
              <li>
              Watch the <a href="http://jko.jten.mil/videos/VA-VEC-OSD-V1-10SEP2014_640X360.mp4", target="blank">Job Seeker's video tour</a> of the site.
              </li>
              <li>
              Watch the <a href="http://jko.jten.mil/videos/VA-VEC-Employer-V4-11SEP2014-VA-1280X720.mp4", target="blank">Employer's video tour</a> of the site.
              </li>
            </ul>

          <h5>How do I recommend a new feature?</h5>
		  <p>We are always open to feedback and would love to hear about your idea for a new tool, feature, or resource that we might include in the Veterans Employment Center&trade;. Please send the VA Office of Economic Opportunity Employment Team an email at OEOECSUPPORT.VBAVACO@va.gov.</p>
			  <!-- end general information -->

        <a name="job_seekers"></a>
        <h4>For Job Seekers</h4>
        <h5>What is the difference between a profile and a résumé?</h5>
		<p>Great question! Your profile is public and available online, to help employers find you and get a general idea of your skills, interests, and experiences. A résumé is a single formatted document, either electronic or in hard copy. You will likely have more than one version of your résumé – separate versions catered to different types of careers that you are interested in. This is especially important when it comes to applying for federal or non-federal jobs, as federal positions typically require much longer, more detailed résumés and non-federal résumés are limited to 1-2 pages. You can easily use the profile and résumé builder on the VEC to create your public profile and then download this profile into a résumé which you can edit with your everyday document editor (such as Microsoft Word).</p>

          <h5>What do I do with the résumé content?</h5>
		  <p>The résumé content provides you with the building blocks to create customized résumés for specific careers or job opportunities you may be interested in.  More detailed information and guidance on creating and formatting effective résumés can be found at <a href="http://www.careeronestop.org/ResumesInterviews/ResumesInterviews.aspx">CareerOneStop</a>. Job seekers can also obtain one-on-one support through American Job Centers. For Servicemembers, additional résumé development guidance is provided in the Transition Assistance Program (TAP) curriculum.</p>

          <h5>What does it mean to have a public profile on the VEC that is visible to employers?</h5>
          <p>Your résumé-based profile on the VEC only includes the information that you have specifically entered into each section through the résumé builder process (such as employment history, desired location, etc…). When you make this profile public, everything in it is visible to all employers except your name and email address, which are only visible to employers with a valid EIN (IRS issued Employer Identification Number – this tells us that they are a real employer).</p>

          <h5>I applied to a job, but I haven’t heard anything from the employer. What should I do?</h5>
          <p>The VEC provides a connection between a job seeker, like you, and the employer. The VEC doesn’t monitor the communication. Make sure that you are being proactive, both with this opportunity and others. Don’t stop looking! For more advice on the résumé and application process, check out <a href="http://www.careeronestop.org/ResumesInterviews/ResumesInterviews.aspx">CareerOneStop</a> from the Department of Labor.
		</p><!-- end for veterans -->

        <a name="employers"></a>
        <h4>For Employers</h4>
        <h5>What does it mean to be a verified employer?</h5>
		<p>Verified employers have included their EIN on their employer profile and the VA has validated that this is an accurate EIN. This process usually takes only a few days. If you are waiting for approval, please email the VA Office of Economic Opportunity Employment Team at OEOECSUPPORT.VBAVACO@va.gov.</p>

         <h5>How can I connect with verified job seekers including Veterans, Transitioning Servicemembers, and their families?</h5>
		 <p>It’s easy to connect with these types of job seekers through the Veterans Employment Center&trade;. Simply <%= link_to "log in here", veterans_path %> using your Google or LinkedIn account and complete the required information. You will immediately be able to search through a list of potential candidates. Until your account has been approved by the VA, you will not be able to see the job seekers' names or email addresses.</p>
			 <!-- end for employers -->
      
    </div><!-- end row -->
	
    <div class="row">
      <div class="small-12 columns">
        <p>The Department of Veterans Affairs would like to thank the following Agencies for their support and collaboration:</p>
      </div>
    </div><!-- end row -->
	
    <div class="row">
      <div class="small-12 medium-6 columns">
        <ul>
          <li>
          <p><a href="http://www.defense.gov/" target="_parent">U.S. Department of Defense (DoD)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>:</p>
            <ul>
              <li>
              <a href="http://www.jcs.mil/About/WarriorandFamilySupport.aspx" target="_parent">Joint Chiefs of Staff Warrior &amp; Family Support<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
              </li>

              <li><a href="http://www.goarmy.com/" target="_parent">U.S. Army<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
              </li>

              <li><a href="http://www.navy.mil" target="_parent">America's Navy<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
              </li>

              <li><a href="https://www.airforce.com/contact-us/?m=2013easearch&amp;pl=adcenter&amp;med=cpc" target="_parent">U.S. Air Force<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
              </li>

              <li><a href="http://www.marines.com/home?WT.srch=1&amp;WT.mc_id=G_ENLISTEDMAIN_EXACT45" target="_parent">US Marine Corps<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
              </li>

              <li><a href="http://www.uscg.mil/" target="_parent">US Coast Guard<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="small-12 medium-6 columns">
        <ul>
          <li><a href="http://www.sba.gov/" target="_parent">The U.S. Small Business Administration (<abbr>SBA</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
          <li><a href="http://www.ed.gov/" target="_parent">U.S. Department of Education (<abbr>ED</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
          <li><a href="http://www.commerce.gov/" target="_parent">U.S. Department of Commerce<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
          <li><a href="http://www.dol.gov/" target="_parent">U.S. Department of Labor (<abbr>DOL</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
          <li><a href="http://www.opm.gov/" target="_parent">Office of Personnel Management (<abbr>OPM</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
        </ul>
      </div>
    </div><!-- end row -->
	
  </div><!-- end section one -->
</div><!-- end overall content -->
