<% provide(:title, "Upcoming Career Fairs") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"> <%= link_to "Veterans Employment Center", root_path %> </li>
          <li class="parent"> <%= link_to "For Job Seekers", for_job_seekers_path %> </li>
          <li class="active">Upcoming Career Fairs</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-8 columns">

		<p>Many different organizations conduct live and virtual hiring fairs targeting Veterans, Servicemembers, and family members.&nbsp; View the list below to find an upcoming hiring event in your area.</p>

		<h4><a href="https://www.corporategray.com/jobfairs" target="_blank">Corporate Gray Military Job Fairs<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>Since 1997, the Corporate Gray “Military-Friendly” Job Fairs have enabled transitioning Servicemembers, military veterans, and military spouses to meet face-to-face with employers (like Lockheed Martin, HP, Amazon, State Farm, Newport News Shipbuilding, etc.). These job fairs are now held in the Washington DC metro area and in Virginia Beach. Corporate Gray also hosts nationwide Virtual Military Job Fairs, which are open to all transitioning Servicemembers and Veterans. Corporate Gray publishes “The Military-to-Civilian Transition Guide,” which is provided free of charge to all transitioning active duty Servicemembers through the Department of Defense Transition Assistance Offices. Since 1997, Corporate Gray has given over 4 million copies of their military-to-civilian career transition book to separating/retiring Servicemembers.</p>

		<h4><a href="http://www.hiringourheroes.org/hiringourheroes/events" target="_blank">Hiring Our Heroes Hiring Fairs<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>Hiring Our Heroes is a nationwide initiative to help veterans, transitioning Servicemembers, and military spouses find meaningful employment opportunities.</p>

		<h4><a href="https://www.jobzoneonline.com/complete-schedule.aspx" target="_blank">Job Zone Hiring Fairs<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>JobZone Job Fairs bring together the area's top employers including defense and commercial companies, federal agencies, placement and staffing companies, colleges and universities. Your career path moves forward here!</p>

		<h4><a href="http://www.moaa.org/careerfair/" target="_blank">MOAA Career Events<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>For more than ten years, the Military Officers Association of America (MOAA) has hosted military and spouse friendly career events that bring thousands of job seekers and military friendly employers together. Meet and network with  local, national, and international employers at one of our six live career hiring and networking events or at one of our quarterly virtual events (all at no cost to the job seeker).</p>

		<h4><a href="http://www.techexpousa.com/" target="_blank">TECHEXPO Top Secret Job Fairs<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>TECHEXPO Top Secret is the Nation's premiere producer of professional job fairs for professionals with security clearance. TechExpoUSA.com serves as the country's leading online career center where the finest defense contractors, technology companies, consulting firms and numerous agencies of the US Government can recruit and hire experienced cleared professionals.</p>

		<h4><a href="http://www.virtualjobscout.org/" target="_blank">Virtual Job Scout<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>Virtual Job Scout is a fresh take on the virtual career fair, enabling – at no cost to either employer or job-seeker – real-time, online connections between employers of every size and top talent from the military and veteran communities. Virtual Job Scout is a program of the U.S. Chamber of Commerce Foundation’s Hiring Our Heroes, and it gathers all the opportunities of a live job fair and places them directly at a person's fingertips. Veterans, transitioning Servicemembers, and military spouses can now connect with recruiters in real time, no matter where they are – or where they are going.</p>

		<h4><a href="http://www.veteranrecruiting.com/" target="_blank">Veteran Recruiting Job Fairs<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></h4>
		<p>The virtual career fair and employer booths are accessible all the time, and you can login anytime. The calendar below shows the dates and times when employers will be online and available to chat live with job seekers, but you can always communicate with them even if they are offline. More dates are always being added so check back often.</p>

      </div><!-- end content column -->
  	</div><!-- end row -->
  </div><!-- end section one -->


	<div class="row">
	  <div class="small-12 columns">
	    <div class="section-nav">
	      <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to resume_builder_path, class: "long" do %>
              <h4 class="alternate">Resume Builder</h4>
              <span>Resume creation made easy. Check off the skills you have, fill in form and click a button for a professional looking resume you can download to print, or post online.</span>
            <% end %>
          </li>
	        <li>
            <%= link_to search_jobs_path, class: "long" do %>
              <h4 class="alternate">Veterans Job Bank</h4>
              <span>Browse employment opportunities.</span>
            <% end %>
	        </li>
	        <li>
            <%= link_to skills_translator_path, class: "long" do %>
              <h4 class="alternate">Skills Translator</h4>
              <span>After leaving the military, how can you best explain your experience to a civilian employer?
              <br/>
              Find out, with the Skills Translator.</span>
            <% end %>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <a href="https://www.mynextmove.org/vets/" target="_blank" class="external_resource" >
              <h5>Civilian Occupation Translator <%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></h5>
              <span>Translate your military experience into a similar civilian occupation, and explore possible new careers by category and keyword.</span>
            </a>
          </li>
          <li>
            <%= link_to commitments_path do %>
              <h5>View Commitments</h5>
              <span>Employers every day are committing to hire Veterans. See which employers have already made a commitment.</span>
            <% end %>
          </li>
          <li>
            <%= link_to interest_profiler_path do %>
              <h5>Interest Profiler</h5>
              <span>What career is right for you? Identifying what you like leads to a job that’s just the right fit.</span>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_path do %>
              <h5>Resources</h5>
              <span>Funds for educational and training programs, information on workplace accommodation, assistive technologies, starting your own business, and more.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

