<% provide(:title, "Employers") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Careers and Employment", root_path %></li>
    		  <% if user_signed_in? && current_user.is_employer? %>
              <li class="active">Your Employer Account</li>
    		  <% else %>
    		      <li class="active">Employers</li>
    		  <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'layouts/navigation' %>
<% unless user_signed_in? && current_user.is_employer? %>
  <div class="header-bar">
    <div class="row">
      <span class="explanation">Log in to create and manage your account with</span><%= link_to "LinkedIn", user_omniauth_authorize_path(:linkedin), class: "employer-login" %> <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: "employer-login" %></span>
    </div>
  </div>
<% end %>

<div class="section one">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <div class="primary">
        <p>Welcome to the Veterans Employment Center. You can post a job, make a hiring commitment, and discover resources to support employees who are Veterans and military family members.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="section-nav">
        <ul class="small-block-grid-1 medium-block-grid-2 cards small">
          <li>
            <a href='/employment/employers/post-a-job/' class="long">
              <h4 class="alternate">Post a Job</h4>
              <span>Your listing will be searchable by our Veteran workforce and their families.</span>
            </a>
          </li>
           <li>
              <%= link_to commitments_path, class: "long" do %>
              <h4 class="alternate">View All Hiring Commitments</h4>
              <span>See who has made a public commitment to hire Veterans.</span>
              <% end %>
           </li>
        
           <% if user_signed_in? && current_user.is_employer? %>
            <li>
  	            <%= link_to edit_employer_path(current_user.employer ), class: 'long' do %>
                <h4 class="alternate">Manage Your Profile and Hiring Commitment</h4>
                <span>Update your basic account information and make a public commitment to hire Veterans.</span>
                <% end %>
            </li>
        	  <% end %>
          </ul>
        </div>
      </div>

      <% unless user_signed_in? && current_user.is_employer? %>
      <hr>
      <div class="small-12 medium-9 columns">
        <h4>Learn more</h4>
          <ul>
            <li>Research shows that hiring Veterans is good business, particularly when it comes to entrepreneurship, resiliency, mission strategy, and team-related goals and actions. The Institute for Veterans and Military Families lays out the facts that support this in a brief called, <a href='http://vets.syr.edu/wp-content/uploads/2014/07/TheBusinessCase7.14.pdf'>“The Business Case for Hiring a Veteran: Beyond the Clichés.”</a></li>
            <li>Receive incentives for participating in programs. The <a href='https://www.doleta.gov/business/incentives/opptax/eligible.cfm'>Work Opportunity Tax Credit (WOTC)</a> ranges from $1,200 to $9,600. Additional programs include <a href='http://www.benefits.va.gov/vocrehab/'>Vocational Rehabilitation and Employment</a> and <a href='/employment/employers/apprenticeship/'>apprenticeships</a>.</li>
            <li>Find out how <a href='http://www.va.gov/health/cwt/'>Compensated Work Therapy</a> can meet your company's needs.</li>
            <li>Some cities have a <a href='/employment/job-seekers/veci/'>Veterans Economic Community Initiative (VECI)</a> liaison who can help you hire Veterans.</li>
          </ul>
      </div>
      <%end%>
  </div>
</div>
  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <a href='/employment/employers/support-veteran-employees/'>
              <h5>Workplace Support</h5>
              <span>Find ways to make your Veteran employees feel at home.</span>
            </a>
	        </li>
          <li>
            <a href='/employment/employers/apprenticeship/'>
              <h5>Establish an Apprenticeship</h5>
              <span>Apprenticeship programs are available for Veterans using their VA education benefits.</span>
            </a>
	        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
