<% provide(:title, "Employers") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Careers and Employment", root_path %></li>
 	  <% if user_signed_in? && current_user.is_employer? %>
	    <li class="parent"><%= link_to "Employers", employer_home_path %></li>
            <li class="active">Your Employer Account</li>
	  <% else %>
	    <li class="active">Employers</li>
	  <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">

<% unless user_signed_in? && current_user.is_employer? %>
    <div class="row">
		<div class="small-12 columns">
		  <div class="small-12 medium-8 columns">
        <h3>Find the best candidates for your open positions.</h3>
        <p>
          Search our verified Veteran profiles. Post a job. And be sure to make a Veteran hiring commitment &mdash; put your company front and center as one that stands with America’s Veterans and their families.
        </p>
		  </div>
		  <div class="small-12 medium-4 columns feature">
        <h5>Employers:<br />Log in to create/manage your account.</h5>
        <div class="actions">
          <%= link_to "Sign in with LinkedIn", user_omniauth_authorize_path(:linkedin), class: "button social linkedin expand" %> <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "button social googleplus expand" %>
	       </div>
		  </div>


  	</div><!-- end columns -->
	 </div><!-- end row 2 -->
 <% end %>

	<% if user_signed_in? && current_user.is_employer? %>
    <div class="row">
      <div class="small-12 columns">
        <div class="section-nav">
          <ul class="small-block-grid-1 medium-block-grid-3 cards small">
            <li>
			    <%= link_to edit_employer_path(current_user.employer ), class: 'long' do %>
                <h4 class="alternate">Manage Your Profile and Hiring Commitment</h4>
                <span>Update your basic account information and make a commitment to hire a Veteran.</span>
              <% end %>
            </li>
            <li>
              <%= render 'employer_favorites_card' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
	<% end %>


    <div class="row">
      <div class="small-12 columns">
        <div class="section-nav">
          <ul class="small-block-grid-1 medium-block-grid-3 cards medium">
            <li>
              <%= link_to veterans_path, class: "long" do %>
                <h4 class="alternate">Find Veteran Candidates</h4>
                <span>Leadership, problem solving, management, operations, customer service, sales, and a host of technical skills are just a few of their talents.
                <br/>
                View their profiles and save favorites.</span>
              <% end %>
            </li>
            <li>
              <%= link_to commitments_path, class: "long" do %>
                <h4 class="alternate">Manage Your Profile and Hiring Commitment</h4>
                <span>Stand with Veterans by making a public commitment to hire Veterans. Your pledge will be appreciated by all Americans, and especially by the Veteran community.</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>

  <!-- Navigation -->

</div>
