<% provide(:title, "Employer Resources") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>          
          <li class="parent"><%= link_to "Employers", employer_home_path %></li>
          <li class="active">Resources</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section one">
    <div class="row">
      <div class="small-12 columns">





<h2>On the Job Training</h2>

<p>Both <%= link_to 'on-the-job training (OJT) and apprenticeship programs', on_the_job_training_path %> are available for Veterans using their VA education benefits, including <a href="http://www.giBill.va.gov/" target="_blank">the Post-9/11 GI Bill<span class="sup">®</span><%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>. These programs allow Veterans to learn a trade or skill through training on the job participation rather than attending formal classroom instruction.</p>

<p>A Veteran generally enters into a training contract for a specific period with an employer or union, and at the end of the training period, the Veteran gains job certification or journeyman status.</p>

<p>Employers participtating in an <abbr>OJT</abbr> program are able to hire a Veteran at the apprenticeship wage and have the salary supplemented by VA. The training often results in permanenet full-time employment and provides employers with a well-trained Veteran employee.</p>

<h2>Veteran Employment Fact Sheets &amp; Reference Guides</h2>

<p><a href="http://www.careeronestop.org/businesscenter/findjobcenters/american-job-center-finder.aspx" target="_blank">Find Your Nearest American Job Center (AJC)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></p>

<p><a href="http://www.americasheroesatwork.gov/forEmployers/factsheets/" target="_blank">America's Heroes At Work<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a> provides FAQs, dispels myths, provides information on workplace accommodations,&nbsp;and offers promising practices for&nbsp;employment success.&nbsp; The site also provides information on hiring Veterans with disabilities, including&nbsp;disability employment laws and&nbsp;legal issues, tax benefits and other financial incentives related to&nbsp;Veterans with&nbsp;Post-traumatic stress disorder (<abbr>PTSD</abbr>), Traumatic Brain Injury (<abbr>TBI</abbr>).</p>

<p>
<a href="http://vaforvets.va.gov/" target="_blank">VA for Vets<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a><br>

As a supervisor or <abbr>HR</abbr> professional, you make a difference every day for the Veterans or Military Servicemembers on your staff. <abbr>VA</abbr> for Vets offers services that help you to recruit Veteran talent to the civilian workforce, ensure they acclimate to the culture and have the resources they need to continue their military service.</p>

<h2>Additional Resource Collections</h2>


<p>
<a href="http://www.benefits.va.gov/VOCREHAB/docs/EmploymentCoordinators.xls" target="_blank">Find a Local VR&amp;E Coordinator<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a><br>
The VR&amp;E program provides services to eligible Veterans with service-connected disabilities prepare for, obtain and maintain suitable employment. Services include career exploration, training and education, and employment services. A Vocational Rehabilitation &amp; Employment Coordinator can help you in hiring service connected disabled veterans. Follow the link above to find your local VR&amp;E office.
</p>

<p>
<a href="http://vetfriendlytoolkit.org/" target="_blank">Toolkit for Veteran Friendly Institutions<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a><br>
Designed to help institutions of higher education build effective programs for Veteran students and share information.
</p>


<hr />

<h4>Department of Labor resources:</h4>

<ul>

<li>
<a href="http://www.dol.gov/odep/" target="_blank">Department of Labor Office of Disability Employment Policy<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
</li>

<li>
<a href="http://www.dol.gov/dol/audience/aud-employers.htm" target="_blank">Resources for Employers<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
</li>

<li>
<a href="http://www.dol.gov/vets/" target="_blank">Veterans' Employment and Training Services (VETS)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
</li>

<li>
<a href="http://www.dol.gov/ofccp/" target="_blank">Office of Federal Contract Compliance Programs<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
</li>

<li>
<a href="http://www.dol.gov/whd/flsa/" target="_blank">Compliance Assistance - Fair Labor Standards Act (FLSA)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
</li>

<li>
<a href="http://www.dol.gov/odep/federal-hire/" target="_blank">A Toolkit for Federal Agencies on Implementing Executive Order 13548<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
</li>

</ul>

      </div>
    </div>
  </div>
  <!-- Navigation -->
  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to workplace_support_path do %>
              <h5>Workplace Support</h5>
              <span>Some ways to support Veterans and Sevicemembers in the workplace.</span>
            <% end %>
          </li>
          <li>
            <%= link_to on_the_job_training_path do %>
              <h5>On the Job Training</h5>
              <span>Both on-the-job training (OJT) and apprenticeship programs are available for Veterans using their VA education benefits, including the Post-9/11 GI Bill<sup>&reg;</sup></span>
            <% end %>
          </li>         
        </ul>
      </div>
    </div>
  </div>
</div>