<% provide(:title, "For Job Seekers") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>
  <script>/*<![CDATA[*/
    function isFilledOut() {
      var oneof = ["kw", "zc", "moc", "zc1", "cname"];
      var result = $.map(oneof, function(x) {
        return $("[name="+x+"]").val().length; })
            .filter(function(x) { return x > 0; }).length > 0;
      if (result == false) {
        $(".error-message").show().delay(4000).fadeOut();
        return false;
      }
    }
  </script>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="active">Job Seekers</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-8 columns">
        <h3>Three steps to finding a great job:</h3>
        <ol>
          <li>Use the Skills Translator to map what you learned in the military to your new civilian career.</li>
          <li>Export the results from the Skills Translator to the Résumé Builder to create a résumé.</li>
          <li>Search the Veterans Job Bank to find the right position for you.</li>
        </ol>
      </div>
      <div class="small-12 medium-4 columns feature">
        <p>Already have a public profile? Sign in to update it.</p>
		<%= link_to "Sign in", user_omniauth_authorize_path(:saml), "class" => "button expand", id: "update_profile" %>
      </div>
    </div>

    <div class="row">
      <!-- Job Search -->
      <%= render 'jobsearch' %>
      <!-- LinkedIn -->
      <%= render 'linkedin' %>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="section-nav">
          <ul class="small-block-grid-1 medium-block-grid-2 cards small">
            <li>
              <%= link_to skills_translator_path do %>
                <h4 class="alternate">Skills Translator</h4>
                <span>How can you best explain your military experience to a civilian employer? Find out with the Skills Translator.</span>
              <% end %>
            </li>
            <li>
              <%= link_to resume_builder_path do %>
                <h4 class="alternate">Résumé Builder</h4>
                <span>Check off your skills, fill in a form, and quickly build a résumé that you can print or post online.</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <a href="https://www.mynextmove.org/vets/" target="_blank" class="external_resource" >
              <h5>Civilian Occupation Translator <%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></h5>
              <span>Translate your military experience into a similar civilian occupation, and explore possible new careers by category and keyword.</span>
            </a>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>Veterans, Servicemembers, and their families can meet employers and learn about job opportunities through in-person and online events.</span>
            <% end %>
          </li>
          <li>
            <a href="http://jobcenter.usa.gov/" target="_blank" class="external_resource" >
              <h5>Find an American Job Center <%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></h5>
              <span>More than 2,500 AJCs in communities nationwide provide job seekers with free help for a variety of career and employment-related needs.</span>
            </a>
          </li>
          <li>
            <%= link_to commitments_path do %>
              <h5>View Employer Commitments to Hire Veterans</h5>
              <span>See which companies and organizations recognize the value Veterans add in the workplace and commit to hiring them.</span>
            <% end %>
          </li>
          <li>
            <%= link_to interest_profiler_path do %>
              <h5>Interest Profiler</h5>
              <span>What career is right for you? Identify what you like, and find a job that’s just the right fit.</span>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_path do %>
              <h5>Resources</h5>
              <span>Funds for educational and training programs, information on workplace accommodation, assistive technologies, starting your own business, and more.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
