<% provide(:title, "Post a Job") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>          
          <li class="parent"><%= link_to "Employers", employer_home_path %></li>
          <li class="active">Post a Job</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section one">
    <div class="row">
      <div class="small-12 columns">
        <p>Thank you for showing your interest in hiring Veterans, transitioning Servicemembers and their families! There are two ways that you can post your jobs to the Veterans Job Bank.</p>

        <hr>

        <h4>Via the National Labor Exchange</h4>
        <strong>How it works:</strong>
        <p>The Veterans Job Bank can pick up job openings from an organization's career site through the NLX. If your organization is already included in NLX, Veterans and Servicemembers can find your job postings on the Veterans Job Bank. You can post your jobs for free on the NLX by <a href="//us.jobs/postajobpartner.asp?partner=ebenefits" target="_blank">clicking here</a>.
        </p>

        <strong>Which employers are eligible:</strong>
        <p>Any</p>

        <strong>Registration:</strong>
        <p>You do not have to be registered with the NLX in order to participate in the Veterans Employment Center&trade;, but it may streamline the process of posting jobs.</p>

        <hr />

        <h4>Want to be a Featured Employer? Use the JobPosting Schema from schema.org.</h4>

        <strong>How it works:</strong>

        <p>If your job listings conform to the JSON-LD template for <a href="//schema.org/JobPosting" target="_blank">schema.orgs Job Posting vocabulary</a> then by adding the URL for your listings to the designated box within <% if user_signed_in? && current_user.is_employer? %><%= link_to "your VEC profile", edit_employer_path(current_user.employer ) %><% else %>your VEC profile<% end %>, your jobs will automaticaly be added to the Veterans Job Bank within 24 hours. When appropriate to a search query, your job(s) will be returned as a featured listing near the top of the search results. Please note that the provided URL must end in .json and contain valid JSON-LD.</p>

        <strong>Which employers are eligible:</strong>
        <p>Any</p>

        <strong>How the schema works:</strong>
          
        <p>The schema.org JobPosting vocabulary consists of 18 basic elements (listed below). Each element describes a core detail of a job vacancy. For participation in the Veterans Job Bank, we require only a handful of these elements (datePosted, hiringOrganization, JobLocation, SpecialCommitments, title, and url). Adding more elements, however, will make your job posting more accessible to searchers.</p>


        <h3>The schema.org JSON-LD JobPosting Elements</h3>
        (Only those indicated by &#42; are required for inclusion in the Veterans Job Bank. The schema.org data type is given in square brackets (i.e., []) following each element name.)

        <ul>
          <li>&#42; <strong>title:</strong> [Text] the descriptive title for the job vacancy or opportunity</li>
          <li>&#42; <strong>hiringOrganization:</strong> [Organization] The company or organization with the vacancy or opportunity</li>
          <li><strong>industry:</strong> [Text] The major industry in which  the vacancy or opportunity operates</li>
          <li><strong>occupationalCategory:</strong> [Text] (use <abbr>BLS</abbr> O*<abbr>NET-SOC</abbr> taxonomy: http://www.onetcenter.org/taxonomy.html)</li>
          <li>&#42; <strong>jobLocation:</strong> [Place] The principal place of performance for the vacancy or opportunity</li>
          <li><strong>baseSalary:</strong> [Number] Annual salary.  If hourly position estimated cumulative annual wages</li>
          <li><strong>salaryCurrency:</strong> [Text] Indication of country currency in which salary will be paid- particularly for international vacancies or opportunities</li>
          <li><strong>employmentType:</strong> [Text] (E.g.; full-time, part-time, contract, temporary, seasonal, internship)</li>
          <li><strong>workHours:</strong> [Text] (E.g.,  1st shift, night shift, 8am-5pm)</li>
          <li><strong>qualifications:</strong> [Text] Any certifications, experience, training, licenses or other special qualifications associated with the vacancy or opportunity</li>
          <li><strong>skills:</strong> [Text] Key or special skills to be highlighted in relation to the vacancy or opportunity</li>
          <li><strong>educationRequirements:</strong> [Text] Level of education attained or educational specialty required for the vacancy or opportunity</li>
          <li><strong>experienceRequirements:</strong> [Text] Years or months of previous experience required for the vacancy or opportunity.  May also indicate entry level.</li>
          <li><strong>responsibilities:</strong> [Text] Key duties and responsibilities for the vacancy or opportunity</li>
          <li><strong>benefits:</strong> [Text] Benefits associated with the vacancy or opportunity including health insurance, retirement, tuition assistance or other non-salary based campensation</li>
          <li><strong>incentives:</strong> [Text] a place for bonus and commission compensation</li>
          <li>&#42; <strong>specialCommitments:</strong> [Text] (e.g., VeteranCommit, MilitarySpouseCommit, etc.)</li>
          <li>&#42; <strong>datePosted:</strong> [Date] effective date of posting for the vacancy or opportunity</li>
          <li>&#42; <strong>url:</strong> [URL] Unique url of the detailed job posting.</li>
        </ul>
        </p>

        <h4>A schema.org JSON-LD Example</h4>
        <br />
        This example contains two job listings. The first uses a smaller set of schema.org elements. Both use all elements required for inclusion in the Veterans Job Bank.
        <pre>
          <code>
<%= h('
[
  {
    "@context": "http://schema.org",
    "@type": "JobPosting",
    "description": "Description: ABC Company Inc. seeks a full-time mid-level software engineer to develop in-house tools.",
    "jobLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Kirkland",
        "addressRegion": "WA"
      }
    },
    "hiringOrganization": {
      "@type": "Organization",
      "name": "ABC, Inc.",
      "legalName": "Alphabet, Inc."
    },
    "specialCommitments": "VeteranCommit",
    "title": "Software Engineer",
    "datePosted": "1/2/15",
    "url": "www.abccompanyinc.com/jobs?listing=12345"
  },
  {
    "@context": "http://schema.org",
    "@type": "JobPosting",
    "baseSalary": "100000",
    "benefits": "Medical, Life, Dental",
    "description": "ABC Company Inc. seeks a full-time machine shop foreman for its main manufacturing facility. The successful candidate will be in charge of all shop activities.",
    "employmentType": "Full-time",
    "experienceRequirements": "Minimum 4 years experience as shop foreman. Military shop experience highly desired",
    "incentives": "Performance-based annual bonus plan, project-completion bonuses",
    "jobLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Kirkland",
        "addressRegion": "WA"
      }
    },
    "hiringOrganization": {
      "@type": "Organization",
      "name": "ABC, Inc.",
      "legalName": "Alphabet, Inc."
    },
    "qualifications": "Ability to lead a group of 30+ machinists of varying skill levels. Highly motivated. Ability to learn quickly. Ability to settle disputes.",
    "responsibilities": "Manage all floor activities. Handle hirings, promotions, and firings.",
    "salaryCurrency": "USD",
    "specialCommitments": "VeteranCommit",
    "title": "Software Engineer",
    "workHours": "40+ hours per week",
    "datePosted": "1/2/15",
    "url": "www.abccompanyinc.com/jobs?listing=23456"
  }
]
                ') %>
          </code>
        </pre>
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to workplace_support_path do %>
              <h5>Workplace Support</h5>
              <span>Some ways to support Veterans and Sevicemembers in the workplace.</span>
            <% end %>
          </li>
          <li>
            <%= link_to on_the_job_training_path do %>
              <h5>On the Job Training</h5>
              <span>Both on-the-job training (OJT) and apprenticeship programs are available for Veterans using their VA education benefits, including the Post-9/11 GI Bill<sup>&reg;</sup></span>
            <% end %>
          </li>         
        </ul>
      </div>
    </div>
  </div>
</div>