<% provide(:title, "Job Resources") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="active">Job Resources</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">

        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to job_resources_disability_path do %>
              <h5>Disability Resources</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_assistive_tech_path do %>
              <h5>Assistive Technology</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_education_counseling_path do %>
              <h5>Education &amp; Counseling</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_military_transcripts_path do %>
              <h5>Military Transcripts</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_federal_employment_path do %>
              <h5>Federal Employment</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_military_spouses_path do %>
              <h5>Military Spouses</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_partnered_path do %>
              <h5>Partnered Resources</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_small_business_path do %>
              <h5>Small Business &amp; Entrepreneurship</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_training_vocational_path do %>
              <h5>Training &amp; Vocational</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_transitioning_servicemembers_path do %>
              <h5>Transitioning Servicemembers</h5>
            <% end %>
          </li>
          <li>
            <%= link_to job_resources_wounded_warrior_path do %>
              <h5>Wounded Warrior</h5>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
