<% provide(:title, "Job Resources : Military Transcripts") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>


  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Military Transcripts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">

        <h4>Joint Services Transcript (<abbr>JST</abbr>)</h4>
        <div class="feature">
          <p><abbr>JST</abbr> is an academically accepted document approved by the American Council on Education (ACE) to validate a service member's military occupational experience and training along with the corresponding <abbr>ACE</abbr> college credit recommendations.</p>
          See also: <a href="https://jst.doded.mil/smart/signIn.do" target="_blank" class="external_resource" >Joint Services Transcript (<abbr>JST</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Community College of the Air Force (<abbr>CCAF</abbr>)</h4>
        <div class="feature">
          <p>The <abbr>USAF</abbr> uses the Community College of the Air Force (<abbr>CCAF</abbr>) to issue a transcript of <abbr>ACE</abbr> recommended credits. You will be able to obtain this transcript for military training and experience even if you have not attended classes at CCAF. To order an official copy, please download a <abbr>CCAF</abbr> transcript request - (<abbr>PDF</abbr>) and follow the instructions. <abbr>CCAF</abbr> transcripts typically arrive within 14 days.</p>
          See also: <a href="http://www.au.af.mil/au/barnes/ccaf/transcripts.asp" target="_blank" class="external_resource" >U.S. Air Force: Community College of the Air Force (<abbr>CCAF</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Verification of Military Experience &amp; Training (<abbr>VMET</abbr>) Transcripts </h4>
        <div class="feature">
          <p><abbr>VMET</abbr> documents assist in transition from the military while the others are confirmation of the Transition process. (Of note, <abbr>VMET</abbr> documents are not available for Coast Guard personnel.)</p>
          See also:  <a href="https://www.dmdc.osd.mil/tgps/" target="_blank" class="external_resource" >Verification of Military Experience &amp; Training (<abbr>VMET</abbr>) Transcripts <%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
