<% provide(:title, "Job Resources : Partnered Resources") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>


  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Partnered Resources</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h4>Department of Labor Office of Disability Employment Policy (<abbr title="Office of Disability Employment Policy">ODEP</abbr>)</h4>
        <div class="feature">
          <p><abbr title="Office of Disability Employment Policy">ODEP</abbr>’s mission is to develop and influence policies and practices that increase the number and quality of employment opportunities for people with disabilities.</p>
          See also: <a href="http://www.dol.gov/odep" target="_blank" class="external_resource" >Department of Labor Office of Disability Employment Policy<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>LinkedIn</h4>
        <div class="feature">
          <p>The LinkedIn instructions for Veteran job seekers provides a comprehensive overview on how Veterans can use LinkedIn to network and find a job. This includes how to establish your identify online, developing a professional network, and finding job opportunities. LinkedIn is also providing a <b>free</b> 1-year Job Seeker subscription ($360 value) to all U.S. Veterans and ServiceMembers. Register <a href="https://specialedition.linkedin.com/veteran-job-seeker/" target="_blank">here.</a></p>

          See also: <a href="http://www.slideshare.net/LinkedinforGood/linkedin-veteran-jobseeker" target="_blank" class="external_resource" >LinkedIn Instructions for Veterans</a> and
          <a href="http://www.slideshare.net/LinkedinforGood/linkedin-for-veterans-tipsheet" target="_blank" class="external_resource">Tips for Veteran Job Seekers<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Coursera</h4>
        <div class="feature">
          <p>Coursera is an educational platform providing over 800 courses in a wide variety of disciplines from accredited schools and institutions worldwide, including but not limited to information technology, business and management, and education. All course material is available free of charge, and additionally, Coursera provides all Veterans with free certification upon completion of any Coursera course that you chose choose to take.</p>

          See also: <a href="http://blog.coursera.org/veterans" target="_blank" class="external_resource" >Coursera for Vets<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Career One Stop</h4>
        <div class="feature">
          <p>Career One Stop is an online resource sponsored by the U.S. Department of Labor. Career One Stop has tools to help job seekers, students, businesses, and career professionals. Some of the information and resources available include career search and exploration, information on education and training, Résumé and interview advice, and many more.</p>

          See also: <a href="http://www.careeronestop.org/" target="_blank" class="external_resource" >Career One Stop<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Soldier for Life</h4>
        <div class="feature">

          <p>Soldier for Life supports successful reintegration of our Soldiers, Veterans and their families by promoting connections with a wide variety of government and community resources. to keep them ARMY STRONG and instill their values, ethos, and leadership within the communities.</p>

          See also: <a href="http://www.army.mil/soldierforlife/" target="_blank" class="external_resource" >Soldier for Life<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>American Job Centers</h4>
        <div class="feature">
          <p>More than 2,500 AJCs in communities nationwide provide job seekers with free help for a variety of career and employment-related needs. Free services vary by location, but typically include: telephones and internet service, résumé help, job-training services and workshops, job-search assistance, career counseling, skills testing, labor market and employer information, hiring events, and referrals to community resources and social services.</p>

          See also: <a href="http://jobcenter.usa.gov/" target="_blank" class="external_resource" >Find American Job Centers Near You<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>MyNextMove</h4>
        <div class="feature">
          <p>MyNextMove is a valuable resource provided by the Department of Labor. It assists job seekers in answering the question "What do you want to do for a living?"</p>

          See also: <a href="http://www.mynextmove.org/" target="_blank" class="external_resource" >MyNextMove<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>USDA</h4>
        <div class="feature">
          <p>USDA is ready to help you take the first step in the agriculture industry.  USDA offers a variety of programs that are available to help Veterans get started as a new farmer or rancher.</p>

          <a href="http://www.usda.gov/wps/portal/usda/newfarmers?navid=newfarmers" target="_blank" class="external_resource" >New Farmers<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
