<% provide(:title, "Job Resources : Transitioning Servicemembers") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Transitioning Servicemembers</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h4>Veterans Opportunity to Work (<abbr>VOW</abbr>)</h4>
        <div class="feature">
          <p>Learn more about the Veterans Opportunity to Work (<abbr>VOW</abbr>) program and other <abbr>VA</abbr> training and career assistance programs. Help make your move from military to civilian life a success - get the training you need to thrive in your next career!</p>
          See also: <a href="http://www.benefits.va.gov/VOW/" target="_blank" class="external_resource" >Veterans Opportunity to Work (VOW)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Vocational Rehabilitation and Employment (<abbr>VRE</abbr>)</h4>
        <div class="feature">
          <p>The VR&amp;E program provides services to eligible Veterans with service-connected disabilities prepare for, obtain and maintain suitable employment. Services include career exploration, training and education, and employment services. For Veterans whose disability prevents them from pursuing employment at this time, VR&amp;E also provides Independent Living services.</p>
          See also: <a href="http://www.benefits.va.gov/vocrehab/index.asp" target="_blank" class="external_resource" >Vocational Rehabilitation and Employment (VRE)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>GI Bill<sup class="trademark">®</sup></h4>
        <div class="feature">
          <p>Enhance your career path with education and training resources. As a Veteran, you may be eligible for educational benefits through numerous <abbr>GI</abbr> Bill<span class="sup">®</span> programs.</p>
          See also: <a href="http://www.giBill.va.gov/" target="_blank" class="external_resource" ><abbr>GI</abbr> Bill<span class="sup">®</span><%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>United Services Military Apprenticeship Program (<abbr>USMAP</abbr>)</h4>
        <div class="feature">
          <p><abbr title="United Services Military Apprenticeship Program">USMAP</abbr> is a formal military program that provides active duty Coast Guard, Marine Corps, and Navy Servicemembers the opportunity to improve their job skills and to complete their civilian apprenticeship requirements while on active duty.</p>
          See also: <a href="https://usmap.cnet.navy.mil/usmapss/static/usmap.jsp;jsessionid=0637AA5088A2094D1883C9AA6032239D" target="_blank" class="external_resource" >United Services Military Apprenticeship Program (<abbr>USMAP</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>
        <h4>Virtual Curriculum</h4>
        <div class="feature">
          <p>Transition <abbr>GPS</abbr> (Goals, Plans, Success) is an outcome-based, modular curriculum with standardized learning objectives. It transforms the way the military prepares Service members transitioning to civilian life to pursue their post-Service career goals. Transition <abbr>GPS</abbr> includes a core curriculum and individually chosen modules on education, career technical training, and entrepreneurship. Ultimately, Transition <abbr>GPS</abbr> is designed to build skills to allow Service members to depart "career ready" and meet mandatory Career Readiness Standards (<abbr>CRS</abbr>), regardless of their branch of Service.</p>
          See also: <a href="https://jkodirect.jten.mil/" target="_blank" class="external_resource" >Transition <abbr>GPS</abbr> Virtual Curriculum <%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>
      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
