<% provide(:title, "Job Resources : Assistive Technology") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Assistive Technology</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <p>  The Assistive Technology Act of 2004 defines an assistive technology device as "...any item, piece of equipment, or product system, whether acquired commercially, modified, or customized, that is used to increase, maintain, or improve functional capabilities of individuals with disabilities."</p>

        See also: <a href="http://nichcy.org/laws/ata#defs" target="_blank" class="external_resource" >Assistive Technology Act of 2004<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>

        <hr>

        <h4>National Assistive Technology Technical Assistance Partnership</h4>
        <div class="feature">
          <p>This website provides a contact list, by state, of providers of assistive technology.&nbsp; Information included in most state information is the address, contact person, telephone number, and email address. A website with more information about services and resources may also be accessed.</p>

          See also: <a href="http://resnaprojects.org/index.html" target="_blank" class="external_resource" >National Assistive Technology Technical Assistance Partnership<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Directory of Independent Living Centers</h4>
        <div class="feature">
          <p>This website provides a listing, by state, of all independent living centers.&nbsp; Generally, contact information and the area of jurisdiction for each center is also provided.</p>
          See also: <a href="http://www.virtualcil.net/cils" target="_blank" class="external_resource" >Directory of Independent Living Centers<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>


        <hr>

        <h4>AbleData</h4>
        <div class="feature">
          <p>This website is maintained for the National Institute on Disability and Rehabilitation Research (<abbr title="National Institute on Disability and Rehabilitation Research">NIDRR</abbr>) of the U.S. Department of Education.&nbsp; Selecting Products on the home screen begins a search of items that are&nbsp; classified in 20 areas, such as Aids for Daily Living, Blind and Low Vision, Communication, Housekeeping, Seating, and may others.&nbsp; Searches may also be initiated by typing specific information in the search box.
          </p>
          See also: <a href="http://www.abledata.com/" target="_blank" class="external_resource" >AbleData<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>


        <hr>

        <h4>Center for Assistive Technology and Environment Access</h4>
        <div class="feature">
          <p>This website was created with funding from <abbr>NIDRR</abbr> and the Rehabilitation Services Administration and contains over 22,000 products.&nbsp; Basic searches may be performed by Function, Activity, or Vendor.&nbsp; To help make the search process more specific, there are drop-down selections in a wide range of areas.&nbsp; The site also allows users to compare products.</p>

          See also: <a href="http://www.assistivetech.net/" target="_blank" class="external_resource" >Center for Assistive Technology and Environment Access (<abbr>CATEA</abbr>) - National Public Website on Assistive Technology<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Homemods.org</h4>
        <div class="feature">
          <p>This website is a project of the National Resource Center on Supportive Housing and Home Modification.&nbsp; It promotes independent living as well as aging in place for all individuals.&nbsp; In addition to Resources and a Directory, selecting <abbr title="Frequently Asked Questions">FAQ</abbr>s will enable users to access a checklist that to assess safety concerns in the home.</p>

          See also: <a href="http://www.homemods.org/" target="_blank" class="external_resource" >Homemods.org<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr><h4>Technology for Long-Term Care</h4>
        <div class="feature">
          <p>This website focuses on providing information about technology products that can be used for individuals in long-term care settings.&nbsp; However, the information on the site can also be used by persons living at home with disabilities.&nbsp; Products are organized into 13 basic categories, but users may also browse by company.</p>
          See also: <a href="http://www.techforltc.org/" target="_blank" class="external_resource" >Technology for Long-Term Care<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
