<% provide(:title, "Job Resources : Educational & Career Counseling") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Education &amp; Counseling</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h4>VA Educational &amp; Career Counseling</h4>
        <div class="feature">
          <p>The <abbr title="Department of Veterans Affairs">VA</abbr> can help eligible Servicemembers and Veterans determine what educational and career opportunities are best suited for you. Combining your hard work with an in-depth skill profile and up-to-date career path information will launch you towards success you want and deserve in your career.</p>

          See also: <a href="http://www.benefits.va.gov/VOCREHAB/edu_voc_counseling.asp" target="_blank" class="external_resource" >Educational &amp; Career Counseling (Chapter 36)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>The GI Bill<sup class="trademark">®</sup></h4>
        <div class="feature">
          <p>Enhance your career path with education and training resources. As a Veteran, you may be eligible for educational benefits through numerous GI Bill programs.</p>
          See also: <a href="http://www.giBill.va.gov/" target="_blank" class="external_resource" ><abbr>GI</abbr> Bill<span class="sup">®</span><%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>VA Campus Toolkit</h4>
        <div class="feature">
          <p>Are you a Veteran enrolled in higher education or thinking about higher education? The VA Campus Toolkit has a variety of information for you, including how to find and access support.</p>

          See also: <a href="http://www.mentalhealth.va.gov/studentveteran/" target="_blank" class="external_resource" >VA Campus Toolkit<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Veterans Employment Toolkit</h4>
        <div class="feature">
          <p>Information and resources to help employers, managers and supervisors, human resource professionals, and employee assistance program (<abbr>EAP</abbr>) providers relate to and support their employees who are Veterans and members of the Reserve and National Guard.</p>
          See also: <a href="http://www.va.gov/vetsinworkplace/veteranresources.asp" target="_blank" class="external_resource" >Veterans Employment Toolkit<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>VetSuccess on Campus (<abbr>VSOC</abbr>)</h4>
        <div class="feature">
          <p>
            The VetSuccess on Campus (<abbr>VSOC</abbr>) program aims to help Veterans, Service members, and their qualified dependents succeed and thrive through a coordinated delivery of on-campus benefits assistance and counseling, leading to completion of their education and preparing them to enter the labor market in viable careers.
          </p>
          <p>
            The Department of Veterans Affairs (VA) is developing innovative ways to help Veterans make the transition to college life. The VetSuccess on Campus (VSOC) program aims to help Veterans, Servicemembers, and their qualified dependents succeed and thrive through a coordinated delivery of on-campus benefits assistance and counseling, leading to completion of their education and preparing them to enter the labor market in viable careers.
          </p>
          <p>
            The VSOC program provides a VA Vocational Rehabilitation Counselor (VRC) to each VSOC school. These VRCs are called VetSuccess on Campus (VSOC) Counselors. A VA Vet Center Outreach Coordinator is also provided, and co-located on many campuses, to provide peer-to-peer counseling and referral services.
          </p>
          <p>
            Through the VSOC program, VA is strengthening partnerships with institutions of higher learning and creating opportunities to help Veterans achieve success by providing outreach and transition services during their transition from military to college life. VSOC Counselors ensure that Veterans receive the support and assistance needed to pursue their educational and employment goals. Because VSOC Counselors are easily accessible on campus they help resolve any problems that could potentially interfere with a Veteran's educational program, to include assisting with disability accommodations. If needed, they can also provide referrals for health services through VA Medical Centers, Community-Based Outpatient Clinics, or Vet Centers.
          </p>
          <p>
            The VSOC program began as a pilot program in 2009 at the University of South Florida. The VSOC program expanded to 32 schools by the end of Fiscal Year 2012. In Fiscal Year 2013, the VSOC program expanded again to an additional 62 campuses, bringing the total number of VSOC sites to 94.
          </p>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
