<% provide(:title, "Job Resources : Disability") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>


  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Disability Resources</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h4>Department of Labor Office of Disability Employment Policy (<abbr title="Office of Disability Employment Policy">ODEP</abbr>)</h4>
        <div class="feature">
          <p><abbr title="Office of Disability Employment Policy">ODEP</abbr>’s mission is to develop and influence policies and practices that increase the number and quality of employment opportunities for people with disabilities.</p>
          See also: <a href="http://www.dol.gov/odep" target="_blank" class="external_resource" >Department of Labor Office of Disability Employment Policy<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>The Job Accommodation Network (<abbr>JAN</abbr>)</h4>
        <div class="feature">
          <p>
            The Job Accommodation Network (<abbr>JAN</abbr>) is the leading source of free, expert, and confidential guidance on workplace accommodations and disability employment issues. JAN helps people with disabilities enhance their employability, and show employers how to capitalize on the value and talent that people with disabilities add to the workplace.
          </p>
          See also: <a href="http://askjan.org/" target="_blank" class="external_resource" >Job Accommodation Network (<abbr>JAN</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Vocational Rehabilitation and Employment (<abbr>VRE</abbr>)</h4>
        <div class="feature">
          <p>
            The VR&amp;E program provides services to eligible Veterans with service-connected disabilities prepare for, obtain and maintain suitable employment. Services include career exploration, training and education, and employment services. For Veterans whose disability prevents them from pursuing employment at this time, VR&amp;E also provides Independent Living services.
          </p>
          See also: <a href="http://www.benefits.va.gov/vocrehab/index.asp" target="_blank" class="external_resource" >Vocational Rehabilitation and Employment (<abbr>VRE</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>The National Center for <abbr title="post traumatic stress disorder">PTSD</abbr></h4>
        <div class="feature">
          <p>
            The National Center for <abbr title="post traumatic stress disorder">PTSD</abbr> is dedicated to research and education on trauma and <abbr title="post traumatic stress disorder">PTSD</abbr>. The center provides information about <abbr title="post traumatic stress disorder">PTSD</abbr> to Veterans and their families as well as to mental health professionals and researchers.
          </p>
          See also: <a href="http://www.ptsd.va.gov/" target="_blank" class="external_resource" >National Center for PTSD<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>VetsFirst</h4>
        <div class="feature">
          <p>
            This guide focuses on the basics of disability, both from a veteran standpoint and a civilian one; helps equip you with ideas and suggestions for creating a proactive plan for education and/or employment; and supplies you with a wide range of important resources.
          </p>
          See also: <a href="http://www.vetsfirst.org" target="_blank" class="external_resource" >VetsFirst<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>National Organization on Disability (<abbr>NOD</abbr>)</h4>
        <div class="feature">
          <p>
            The National Organization on Disability (<abbr>NOD</abbr>) is a private, non-profit organization that promotes the full participation and contributions of America’s 56 million people with disabilities in all aspects of life.
          </p>
          <a href="http://www.nod.org/" target="_blank" class="external_resource" >National Organization on Disability<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
