<% provide(:title, "Job Resources : Training & Vocational") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Training &amp; Vocational</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">

        <h4>Veterans Opportunity to Work (<abbr>VOW</abbr>)</h4>
        <div class="feature">
          <p>Learn more about the Veterans Opportunity to Work (<abbr title="Veterans Opportunity to Work">VOW</abbr>) program and other <abbr>VA</abbr> training and career assistance programs. Help make your move from military to civilian life a success - get the training you need to thrive in your next career!</p>
          See also: <a href="http://www.benefits.va.gov/VOW/" target="_blank" class="external_resource" >Veterans Opportunity to Work (VOW)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Credentialing Opportunities On-line (<abbr>COOL</abbr>) for Army Solidiers</h4>
        <div class="feature">
          <p><abbr>COOL</abbr> helps Army Soldiers find information on certifications and licenses related to their Military Occupational Specialties (<abbr>MOS</abbr>s).</p>
          See also: <a href="https://www.cool.army.mil/" target="_blank" class="external_resource" ><abbr title="Credentialing Opportunities On-line">COOL</abbr> (Credentialing Opportunities On-line) for Army Solidiers<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Credentialing Opportunities On-line (<abbr>COOL</abbr>) for Navy Service Members</h4>
        <div class="feature">
          <p><abbr>COOL</abbr> helps Navy Servicemembers find information on certifications and licenses related to enlisted ratings, designators, collateral duties/out of rate assignments, and officer designators.</p>
          See also: <a href="https://www.cool.navy.mil/" target="_blank" class="external_resource" ><abbr>COOL</abbr> (Credentialing Opportunities On-line) for Navy Service Members<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>
        <h4>On-the-Job &amp; Apprenticeship Training Programs</h4>
        <div class="feature">
          <p>On-the-job (<abbr>OJT</abbr>) and apprenticeship training programs are available for Veterans using their VA education benefits, including the Post-9/11 <abbr>GI</abbr> Bill<span class="sup">®</span>. These programs allow Veterans to learn a trade or skill through training on the job participation rather than attending formal classroom instruction.</p>
          See also: <a href="http://employmentportal.herokuapp.com/on-the-job-employers" target="_blank" class="external_resource" >On-the-Job &amp; Apprenticeship Training Programs</a>
        </div>

        <hr>

        <h4>United Services Military Apprenticeship Program (<abbr>USMAP</abbr>)</h4>
        <div class="feature">
          <p><abbr>USMAP</abbr> is a formal military program that provides active duty Coast Guard, Marine Corps, and Navy Servicemembers the opportunity to improve their job skills and to complete their civilian apprenticeship requirements while on active duty.</p>
          See also: <a href="https://usmap.cnet.navy.mil/usmapss/static/usmap.jsp;jsessionid=0637AA5088A2094D1883C9AA6032239D" target="_blank" class="external_resource" >United Services Military Apprenticeship Program (USMAP)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Vocational Rehabilitation and Employment (<abbr>VRE</abbr>)</h4>
        <div class="feature">
          <p>The VR&amp;E program provides services to eligible Veterans with service-connected disabilities prepare for, obtain and maintain suitable employment. Services include career exploration, training and education, and employment services. For Veterans whose disability prevents them from pursuing employment at this time, VR&amp;E also provides Independent Living services.</p>
          See also: <a href="http://www.benefits.va.gov/vocrehab/index.asp" target="_blank" class="external_resource" >Vocational Rehabilitation and Employment (<abbr>VRE</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
