<% provide(:title, "Job Resources : Small Business & Entrepreneurship") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Small Business &amp; Entrepreneurship</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h4>Contracting with the Federal Government</h4>
        <div class="feature">
          <p>Interesting in contracting with the federal government? Find specific information and resources for contractors here.</p>
          See also: <a href="http://pro-net.sba.gov/" target="_blank" class="external_resource" >Contracting with the Federal Government<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Veteranscorp.org</h4>
        <div class="feature">
          <p>Learn about business resources for Veteran business owners from start-up and beyond.</p>
          See also: <a href="http://www.veteranscorp.org/" target="_blank" class="external_resource" >Veteranscorp.org<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Small Business Administration</h4>
        <div class="feature">
          <p>If you are a veteran or service-disabled veteran, SBA has resources to help you start and grow your small business.</p>
          See also: <a href="http://www.sba.gov/VETS/" target="_blank" class="external_resource" >Small Business Administration (<abbr title="Small Business Administration">SBA</abbr>)<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>Veteran Entrepreneurship and Small Business Development Act</h4>
        <div class="feature">
          <p>Find information about Public Law 106-50, "The Veterans Entrepreneurship and Small Business Development Act of 1999.</p>
          See also: <a href="http://www.sba.gov/content/veterans-entrepreneurship-and-small-business-development-act-1999" target="_blank" class="external_resource" >Veteran Entrepreneurship and Small Business Development Act<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>

        <h4>The Abilities Fund</h4>
        <div class="feature">
          <p>The Abilities Fund is the first and only nationwide community developer targeted exclusively to advancing entrepreneurial opportunities for Americans with disabilities.</p>
          See also: <a href="http://www.abilitiesfund.org/" target="_blank" class="external_resource" >The Abilities Fund<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a>
        </div>

        <hr>
      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
