<% provide(:title, "Job Resources : Military Spouses") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>


  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="parent"><%= link_to "Job Resources", job_resources_path %></li>
          <li class="active">Military Spouses</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h4>Military Spouse Employment Partnership (<abbr title="Military Spouse Employment Partnership">MSEP</abbr>)</h4>
        <div class="feature">
          <p>
            <abbr title="Military Spouse Employment Partnership">MSEP</abbr> is part of DoD’s broader Spouse Education and Career Opportunities (<abbr title="Spouse Education and Career Opportunities">SECO</abbr>) initiative, which seeks to strengthen the education and career opportunities of military spouses by providing career exploration opportunities to help them understand their skills, interests, and goals; education and training to help them identify academic, licensing, or credentialing requirements that can help them reach their career goals; employment readiness assistance to optimize their self-marketing skills; and employment connections that help them find and maintain a rewarding career.
          </p>

          See also: <a href="https://msepjobs.militaryonesource.mil/video/military-spouse-employment-partnership"  target="_blank" class="external_resource" >Military Spouse Employment Partnership (<abbr title="Military Spouse Employment Partnership">MSEP</abbr>) at <abbr title="Department of Defense">DoD</abbr></a>
        </div>

        <hr>

      </div>
    </div>
  </div>


  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to for_job_seekers_path do %>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
            <% end %>
          </li>
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
