<% provide(:title, "On-the-Job & Apprenticeship Training Programs") %>


<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>  
          <li class="parent"><%= link_to "Employers", employer_home_path %></li>
          <li class="active">On-the-Job &amp; Apprenticeship Training Programs</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section one">
    <div class="row">
      <div class="small-12 columns">

  <p>On-the-job (<abbr>OJT</abbr>) and apprenticeship training programs are available for Veterans using their VA education benefits, including the Post-9/11 <abbr>GI</abbr> Bill<span class="sup">速</span>. These programs allow Veterans to learn a trade or skill through training on the job participation rather than attending formal classroom instruction. A Veteran generally enters into a training contract for a specific period with an employer or union, and at the end of the training period, the Veteran gains job certification or journeyman status.</p>

  <h3>A Stipend to Offset Reduced Wages During Training</h3>

  <p>Employers or unions generally pay a reduced OJT/apprenticeship wage (generally 40 - 50% of journeyman wages). Veterans in an approved program can use their GI Bill<span class="sup">速</span> benefit and receive a tax-free stipend. The Post-9/11 GI Bill<span class="sup">速</span> stipend is the equivalent of the Monthly Housing Allowance (MHA) of an E-5 with dependents, which is paid in addition to the entry-level wage.</p>

<div class="feature">
  <h4>Stipend Received Over Time</h4>
  <table>
    <thead>
      <tr>
        <th>Training Period</th>
        <th>Stipend Received</th>
      </tr>
    </thead>
    <tr>
      <td>First six months of training</td>
      <td>110% of the applicable <abbr>MHA</abbr></td>
    </tr>
    <tr>
      <td>Second six months of training</td>
      <td>80% of the applicable <abbr>MHA</abbr></td>
    </tr>
    <tr>
      <td>Every six months after the first year</td>
      <td>Reduced by 20%</td>
    </tr>
  </table>
</div>

  <p>The stipend is reduced 20% every six months thereafter as the Veteran's wages regularly increase until the Veteran has attained journeyman status and pay. Learn about <a href="http://www.giBill.va.gov/resources/benefits_resources/rate_tables.html" target="_blank">stipend payments for other <abbr>GI</abbr> Bill<span class="sup">速</span> programs.<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></p>

  <p>Approved employers can use this benefit as a recruiting tool by using wages + stipend to attract Veteran candidates.</p>

  <h3>State Approving Agencies (<abbr>SAA</abbr>)</h3>

  <p>The State Approving Agencies are responsible for approving <abbr>OJT</abbr>/apprenticeship programs in their respective states. Requirements generally entail submitting a training request form that specifically outlines the proposed program, wages, and standard workweek information, as well as the company contact name and phone number. Once all required documents are submitted, approval is generally completed in 1-2 months. Get <a href="http://www.giBill.va.gov/resources/education_resources/programs/on_the_job_apprenticeship_training.html" target="_blank">more information regarding OJT &amp; apprenticeship programs, and how to apply.<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></p>

  <h3>Vocational Rehabilitation &amp; Employment (VR&amp;E) OJT/Apprenticeships</h3>

  <p>In addition to the services listed above, VR&amp;E also provides employers with other benefits through the Special Employer Incentive Program (<abbr>SEI</abbr>). Employers hiring Veterans with a service-connected disability who are approved for VR&amp;E services may be entitled reimbursements up to 50% of the Veterans' salary for six months to offset training costs. Find <a href="http://www.vba.va.gov/bln/vre/emp_resources.htm" target="_blank">additional information about the VR&amp;E <abbr>OJT</abbr> program.<%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></p>

  <p>For more information, call 1-800-827-1000.</p>

      </div>
    </div>
  </div>
  <!-- Navigation -->
  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to commitments_path do %>
              <h5>Make a Hiring Commitment</h5>
              <span>Make a commitment.</span>
            <% end %>
          </li>   
          <li>
            <%= link_to how_to_post_jobs_path do %>
              <h5>How to Post Jobs</h5>
              <span>Your listing will be searchable by our capable Veteran workforce and their families.</span>
            <% end %>
          </li>      
        </ul>
      </div>
    </div>
  </div>
</div>
