<fieldset>
  <legend>Add your education information. Add as many as necessary by using the "Add Education Experience" link.</legend>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :educational_organization, "Name of school or training " %>
      <%= f.text_field :educational_organization %>
    </div>
  </div>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :credential_type, "Type of credential earned " %>
      <%= f.select(:credential_type, EducationLevel::LEVELS, prompt: "Please select one") %>
    </div>
  </div>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :credential_topic, "Credential topic " %>
      <%= f.text_field :credential_topic, data: {toggle: "popover", placement: "right"}, placeholder: "e.g. Engineering, Political Science" %>
    </div>
  </div>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :start_date, "Start date (MM/DD/YYYY)" %>
      <%= f.text_field :start_date,
        value:       (f.object.start_date.strftime("%m/%d/%Y") if f.object.start_date.present?),
        err:         "enter date like mm/dd/yyyy",
        placeholder: "MM/DD/YYYY",
        data:        {mask: "99/99/9999"},
        pattern:     "^[012]\\d/[0123]\\d/(?:19|20)\\d{2}$" %>
    </div>
  </div>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :end_date, "End date (MM/DD/YYYY) (leave blank if you are still completing this education)" %>
      <%= f.text_field :end_date,
        value:       (f.object.end_date.strftime("%m/%d/%Y") if f.object.end_date.present?),
        err:         "enter date like mm/dd/yyyy",
        placeholder: "MM/DD/YYYY",
        data:        {mask: "99/99/9999"},
        pattern:     "^[012]\\d/[0123]\\d/(?:19|20)\\d{2}$" %>
    </div>
  </div>
  <%= f.hidden_field :experience_type, value: "education" %>
</fieldset>
