<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?libraries=places"%></script>

<% unless session[:linkedin_profile] %>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <%= link_to "<i class='icon-linkedin' aria-hidden='true'></i><span>Auto-fill from LinkedIn</span>".html_safe, user_omniauth_authorize_path(:linkedin_resume), class: "button social linkedin", id: "linkedin_autofill"%>
    </div>
  </div>
  <p>LinkedIn is also providing a <b>free</b> 1-year Job Seeker Premium subscription ($360 value) to all U.S. Veterans and Servicemembers. Learn more <a href="https://veterans.linkedin.com/" id="linkedin_site" target="_blank">here</a>.</p>
<% end %>

<%= form_for @veteran, html: { class: 'f resume', id: 'veteran_form', role: 'form' } do |f| %>
  <% if @veteran.errors.any? %>
    <div class="alert-box error_highlight">
      <h3 class="no-margin"><%= pluralize(@veteran.errors.count, "error") %> prohibited this resume from being saved:</h3>
      <div id="error_explanation">
      <ul>
        <% @veteran.errors.full_messages.each do |msg| %>
          <li><span class="resume_error"><%= msg %></span></li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>

    <div class="form-section">

      <div class="required federal">(This section is required for <strong>Federal job applications</strong>)</div>
      <h3 class="no-margin">Add the basics</h3>

      <fieldset class="no-margin">
        <legend>Enter your name and email (required).</legend>

        <div class="row form-group dataItem">
          <div class="small-12 columns">
            <%= f.label :name, "Your Name " %>
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="row form-group dataItem">
          <div class="small-12 columns">
            <%= f.label :email, "Your Email "%>
            <%= f.email_field :email, class: "required field" %>
          </div>
        </div>
      </fieldset>

  </div>


  <div class="form-section">

    <h3 class="no-margin">State Your Objectives</h3>

    <fieldset class="no-margin">
      <legend>Enter basic information about your career goals and objectives.</legend>
      <div class="row form-group">
        <div class="small-12 columns dataItem">
          <%= f.label :objective, "1 - 2 sentences about your qualifications and career objectives. This appears in search results, so make it stand out!" %>
          <%= f.text_area :objective, class: "form-control", rows: 5 %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-section">

    <div class="required federal">(This section is required for <strong>Federal job applications</strong>)</div>
    <h3 class="no-margin">When can you start work?</h3>

    <fieldset class="no-margin">
      <legend>Enter an estimated start date.</legend>

      <div class="row form-group dataItem">
        <div class="small-12 columns">
          <%= f.label :availability_date, "Available (estimate) as of (MM/DD/YYYY) " %>
          <%= f.text_field :availability_date,
            value:       (f.object.availability_date.strftime("%m/%d/%Y") if f.object.availability_date.present?),
            err:         "enter date like mm/dd/yyyy",
            placeholder: "MM/DD/YYYY",
            data:        {mask: "99/99/9999"},
            pattern:     "^[012]\\d/[0123]\\d/(?:19|20)\\d{2}$" %>
        </div>
      </div>
    </fieldset>
  </div>


  <div class="form-section">
    <h3 class="no-margin"> Your Civilian Skills</h3>

    <fieldset class="no-margin">
      <legend>Add your civilian skills. Add as many as necessary by using the autocomplete field.</legend>
      <div class="row form-group">
        <ul>
          <div id="checkbox-list" class="skill_columns">
            <% @veteran.skills.each do |skill| %>
              <li>
                <%= hidden_field(:veteran, :skills, value: skill.id, multiple: true) %>
                <span><%= skill.name %></span>
                <span class="skill-deleter delete-link">remove</span>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
      <div class="row form-group dataItem">
        <div class="small-12 columns">
          <label for="add-skill-field">Add a new skill (press enter to add): </label>
        </div>
        <div class="small-12 columns" id="customSkill">
          <input id="add-skill-field" type="text" class="typeahead sfTypeahead">
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-section">

    <div class="required federal">(This section is required for <strong>Federal job applications</strong>)</div>
    <h3 class="no-margin">Education &amp; Training</h3>

    <%= f.fields_for :experiences, @veteran.educational_experiences.any? ? @veteran.educational_experiences : @veteran.experiences.new do |experiences_fields| %>
      <%= render 'education_fields', f: experiences_fields %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= experiences_fields.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields_education "<span aria-hidden='true'>+ </span>Add Education Experience".html_safe, f, :experiences %>
    </div>
  </div>

  <div class="form-section">

    <h3 class="no-margin">Military Service </h3>

    <%= f.fields_for :experiences, @veteran.military_experiences.any? ? @veteran.military_experiences : @veteran.experiences.new do |experiences_fields| %>
      <%= render 'military_fields', f: experiences_fields %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= experiences_fields.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields_military "<span aria-hidden='true'>+ </span>Add Military Experience".html_safe, f, :experiences %>
    </div>

  </div>

  <div class="form-section">
    <h3 class="no-margin">Work Experience</h3>

    <%= f.fields_for :experiences, @veteran.work_experiences.any? ? @veteran.work_experiences : @veteran.experiences.new do |experiences_fields| %>
      <%= render 'employment_fields', f: experiences_fields %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= experiences_fields.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields_work "<span aria-hidden='true'>+ </span>Add Work Experience".html_safe, f, :experiences %>
    </div>

  </div>

  <div class="form-section">
    <h3 class="no-margin">Volunteer Experience</h3>
    <%= f.fields_for :experiences, @veteran.volunteer_experiences.any? ? @veteran.volunteer_experiences : @veteran.experiences.new do |experiences_fields| %>
      <%= render 'experience_fields', f: experiences_fields %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= experiences_fields.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields "<span aria-hidden='true'>+ </span>Add Volunteer Experience".html_safe, f, :experiences %>
    </div>
  </div>

  <div class="form-section">
    <h3 class="no-margin">Awards</h3>
    <%= f.fields_for :awards, @veteran.awards.any? ? @veteran.awards : @veteran.awards.new do |builder| %>
      <%= render 'award_fields', f: builder %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= builder.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields "<span aria-hidden='true'>+ </span>Add Award".html_safe, f, :awards %>
    </div>
  </div>

  <div class="form-section">
    <h3 class="no-margin">Professional Affiliations</h3>
    <%= f.fields_for :affiliations, @veteran.affiliations.any? ? @veteran.affiliations : @veteran.affiliations.new do |builder| %>
      <%= render 'affiliation_fields', f: builder %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= builder.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields "<span aria-hidden='true'>+ </span>Add Affiliation".html_safe, f, :affiliations %>
    </div>
  </div>

  <div class="form-section">
    <div class="required federal">(This section is required for <strong>Federal job applications</strong>)</div>
    <h3 class="no-margin">References</h3>
    <%= f.fields_for :references, @veteran.references.any? ? @veteran.references : @veteran.references.new do |builder| %>
      <%= render 'reference_fields', f: builder %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= builder.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields "<span aria-hidden='true'>+ </span>Add Reference".html_safe, f, :references %>
    </div>
  </div>

  <div class="form-section">
    <h3 class="no-margin">Location Preference</h3>
    <%= f.fields_for :locations, @veteran.locations.any? ? @veteran.locations : @veteran.locations.new do |locations_fields| %>
      <%= render 'location_fields', f: locations_fields %>
      <span class="delete-link experience-deleter">Remove Section</span>
      <%= locations_fields.check_box :_destroy, :style => 'display:none' %>
    <% end %>
    <div class="actions alternate">
      <%= link_to_add_fields "<span aria-hidden='true'>+ </span>Add Location".html_safe, f, :locations %>
      <%#= link_to_add_fields_location "<span aria-hidden='true'>+ </span>Add Another Location".html_safe, f, :locations %>
    </div>
  </div>

  <div class="form-section">
    <h3 class="no-margin">Other</h3>
    <fieldset class="no-margin">
      <legend>Enter optional additional information to assist potential employers in finding your profile.</legend>
      <div class="row form-group dataItem">
        <div class="small-12 columns">
          <label>Indicate any special categories that apply to you: </label>
        </div>
        <div class="small-12 columns">
          <%= f.collection_check_boxes(:status_categories, Veteran::STATUS_CATEGORIES, :to_s, :to_s) do |b| %>
            <%= b.check_box %> <%= b.label %> <br/>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-section">
    <h3 class="no-margin">Save As Draft</h3>
    <fieldset class="no-margin">
      <legend>Let employers find and view your profile, or save it as a draft.</legend>
      <div class="row form-group dataItem">
        <div class="small-12 columns">
          <label>Check this box if you DON'T want employers to find and view your profile.</label>
          <div class="form-group" id="visible">
            <%= f.check_box(:visible, {checked: false}, "0", "1")%><%= f.label :visible, "Save as draft" %> <br />
          </div>
          <% if user_signed_in? %>
          <% else %>
            <p>Your profile will only be visible to employers after you log in to save your information.</p>
          <% end %>
          <% %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="call-out">
    <div class="row">
      <div class="small-12 columns">
        <p><strong>Protect Yourself:</strong> Job seekers often find themselves targets of phishing scams. Please know that VA does not ask for your personal information or financial information via email. If you get an email from an employer asking for your personal or financial information, please be cautious. For more information on this, and to find out what to do if you are approached or are a victim of phishing, take a look at <a href="http://www.blogs.va.gov/VAntage/23299/veterans-employment-center-website-false-claim-of-breach/" target="_blank">this blog</a>.</p>
      </div>
    </div>
  </div>

  <div class="row actions">
    <div class="small-12 columns">
      <%= f.submit "Preview Your Veteran Profile and Résumé Content", class: 'button primary' %>
    </div>
  </div>


<% end %>
