<fieldset>
  <legend>Enter your location preferences below. Add as many locations as necessary by clicking Add Location below.</legend>
  <div class="row form-group dataItem">
    <div class="small-12 columns desired-location">
      <%= f.label :location, "Desired location" %>
      <%# -- This a throwing a 508 error because the label 'for' and text_field 'name' do not match. --  %>
      <%= f.text_field  :full_name, class: "autocomplete" %>
      <%= f.hidden_field :city %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :country %>
      <%= f.hidden_field :zip %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>
      <%= f.hidden_field :location_type, value: "desired"  %>
    </div>
  </div>
</fieldset>
