<fieldset>
  <legend>Provide your professional references. Add as many references as necessary by clicking Add Reference below.</legend>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :name, "Name " %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :email, "Email " %>
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :job_title, "Title " %>
      <%= f.text_field :job_title %>
    </div>
  </div>
</fieldset>
