<li class="result">
  <div class="row">
    <div class="small-12 columns">
      <%= link_to veteran, class: "vet_profile_link" do %>
        <% if current_user && (current_user.va_admin? || current_user.is_approved_employer?) %>
          <h5><%= veteran.name || "Candidate" %></h5>
        <% else %>
          <h5><%= "Candidate" %></h5>
        <% end %>
        <div class="snippet vet_objective">
          <%= veteran.objective %>
        </div>
        <div class="veteran_location">
          <h6>Location:</h6>
          <ul class="inline-list meta">
            <% veteran.locations.each do |loc| %>
              <li>
                <%= loc.full_name %>
              </li>
            <% end %>
          </ul>
        </div>
     <% end %>
    </div>
  </div><!-- end row -->
</li>
