<% provide(:title, "Favorite Veteran Profiles") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Careers and Employment", root_path %></li>
          <li class="parent"><%= link_to "Employers", employer_home_path %></li>
          <li class="active">Favorite Veteran Profiles</li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'layouts/navigation' %>
  <div class="section one">
    <div class="row">
      <div class="small-12 columns">
        <div id="veteran-favorites">
          <div class="search-results">
            <% if @veterans.any? %>
              <ol class="results-list">
                <% @veterans.each do |veteran| %>
                  <%= render veteran %>
                <% end %>
              </ol>
            <% else %>
              <p>You have not designated any Veterans as favorites yet.</p>
              <%= link_to "Find Veteran Candidates", veterans_path, class: "button alternate" %>
            <% end %>
          </div><!-- end search-results -->
        </div>
      </div>
    </div>
  </div>
</div>
