<div class="section one">
  <div class="row">
    <div class="small-12 columns">
      <script>
        function isFilledOut() {
          var oneof = ["kw", "zc", "moc", "zc1", "cname"];
          var result = $.map(oneof, function(x) {
            return $("[name="+x+"]").val().length; })
            .filter(function(x) { return x > 0; }).length > 0;
          if (result == false) {
            $(".error-message").show().delay(4000).fadeOut();
            return false;
          }
        }
      </script>

      <p>There are many ways for you to search for a new job, including the [Veterans Job Bank](/veterans-employment-center/for_job_seekers) and other government and private search sites. Make sure your skills are well represented on your résumé, and [get started right away](/veterans-employment-center/job-resources) using all the available resources. </p>

      <h5>Three steps to finding a great job:</h5>
      <ol>
        <li>Use the Skills Translator to transfer what you learned in the military to your public VEC™ profile.</li>
        
        <li>Export the results from the Skills Translator to the Profile and Résumé Builder, and create your profile public so employers can find you.</li>

        <li>Search the [Veterans Job Bank](/veterans-employment-center/for_job_seekers) to find the right position for you.</li>
      </ol>

      <p>[Skills Translator widget in sidebar]  </p>
      <p>[Resume builder widget in sidebar] </p>

      <h5> Learn more</h5> 
      <p> Get [one-on-on assistance](/employment/job-seekers/one-on-one/), and explore other ways to look for a job. Consider applying for a [federal job]( /veterans-employment-center/job-resources-federal-employment) or start [your own business](/veterans-employment-center/job-resources-small-business). Other paths include additional education, certifications, and apprenticeships.  

      <p>[LinkedIn widget] </p>
      <p>[Coursera widget]</p>

      <em> BEGINNING OF OLD COPY </em>

      <form action="search_jobs" class="job-search" method="get" target="" onsubmit="return isFilledOut()">
        <input type="hidden" name="searchType" id="searchType" value="<%= @us_jobs_search_params["searchType"] %>">
        <input name="tm" type="hidden" value="">
        <div class="filters">
          <p>Search the Veterans Job Bank</p>
          <h4 class="error-message" style="display:none;">Please enter a search term.</h4>
          <fieldset>
            <div class="row">
              <div class="small-12 medium-4 columns">
                <div class="dataItem">
                  <label class="main em" for="kw">What  <span class="field-details"><span class="example">(job title, keywords)</span></span> </label>
                  <input id="kw" name="kw" class="text address" type="text" value="<%= @us_jobs_search_params["kw"] %>" maxlength="95">
                </div>
              </div>
              <div class="small-12 medium-4 columns">
                <div class="dataItem">
                  <label class="main em" for="zc">Where
                    <span class="field-details"><span class="example">(city, state, country)</span></span>
                  </label>
                  <input id="zc" name="zc" class="text address" type="text" value="<%= @us_jobs_search_params["zc"] %>" maxlength="95">
                </div>
              </div>
              <div class="small-12 medium-4 columns">
                <div class="dataItem">
                  <label class="main em" for="moc">Military  <span class="field-details"><span class="example">(military job title or code)</span></span></label>
                  <input id="moc" name="moc" class="text military" type="text" value="<%= @us_jobs_search_params["moc"] %>" maxlength="95">
                </div>
              </div>
            </div>
            <%= render partial: 'advanced_search', locals: { us_jobs_search_params: @us_jobs_search_params } %>
            <div class="row">
              <div class="small-12 columns">
                <div class="actions advanced-search">
                  <a id="adv-job_search" class="toggle-srch advancedTag" href="#"></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="actions">
                <button class="button primary button-left" type="submit">Search</button>
                <button class="button secondary button-right" type="button" onclick="resetForm()">Clear Search</button>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>
