<div class="row job-row">
  <div class="small-12 columns">
    <div class="result">
      <div class="row">
        <div class="small-12 columns job-title job_posting"><a href="http://jcnlx.com/<%= job["jvid"] %>" target="_blank"><%= job["title"] %></a>
        </div>
        <div class="small-12 columns job-company">
          <%= job["company"] %>
        </div>
        <div class="small-12 columns"><%= job["location"] %> - Job posted on <%= job["dateacquired"].split[0] %>
        </div>
      </div>
    </div>
  </div>
</div>
