<%= render partial: 'search_header' unless request.xhr? %>



<div class="small-12 medium-8 columns">
  <div class="search-results">

    <%= render partial: 'jobs' %>
    <%= render partial: 'federal_jobs' %>
    <% if @record_count.nil? %>
      <%= render partial: 'federal_pagination', locals: {searcher: @searcher} %>
    <% else %>
      <%= render partial: 'pagination', locals: {searcher: @searcher} %>
    <% end %>

    <%= render partial: 'search_footer' unless request.xhr? %>

  </div>
</div>

  <!-- Navigation -->
  <!-- Linkedin, Coursera and Resume Builder  -->
  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
              <h5>Are you a Veteran job seeker?</h5>
              <span>Visit the Job Seeker Section to search jobs, translate your skills, and build a résumé.</span>
          </li>
          <li>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>