<%= form_for(@site_feedback) do |f| %>
  <% if @site_feedback.errors.any? %>
    <div class="row">
      <div class="small-12 columns">
        <div data-alert class="alert-box warning">
          <div id="error_explanation">
            <h3><%= pluralize(@site_feedback.errors.count, "error") %> prohibited your feedback from being saved:</h3>
            <ul>
              <% @site_feedback.errors.messages[:description].each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <div>
            </div>
          </div>
        </div>
      <% end %>
<div class="content-feature">

<div class="row">


  		<div class="small-12 columns">
        <h2>Veteran&rsquo;s Employment Center&trade; Feedback</h2>

        <p>Please complete this form to share ideas and/or report problems found on the <abbr title="Veterans Employment Center">VEC</abbr> website. Be as precise as possible.</p>

        <%= f.label :description, "Description of the suggestion or issue. *" %>
        <%= f.text_area :description, :class => "form-control" %>
		  </div>

  		<div class="small-12 columns">
        <%= f.label :how_to_replicate, "If you are reporting an issue, what were you trying to do when you encountered the error?" %>
        <p class="hint">(How can we replicate it?)</p>
        <%= f.text_area :how_to_replicate %>

      </div>

		  <div class="small-12 columns">
        <%= f.label :url, "Page address" %>
        <p class="hint">(If applicable, <abbr>URL</abbr> of the page you were on.)</p>
        <%= f.text_field :url %>

      </div>

		  <div class="small-12 columns">
        <%= f.label :name, "Your Name" %>
        <%= f.text_field :name %>
      </div>

		  <div class="small-12 columns">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
    </div>

  	<div class="row">
		  <div class="small-12 columns">
        <div class="actions">
    		  <%= f.submit "Send", :class => "button primary" %>
		    </div>
      </div>
  	</div>

</div>

    <% end %>
