<% provide(:title, "Employer Sign In") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>


  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "For Employers", employer_home_path %></li>
    		  <li class="active">Log in</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="row">
      <div class="small-12 columns">

		  <p>As an employer, you must sign in to search, view, and save Veteran resumes, or to publish / edit your Veteran hiring commitment.</p>
		  <p>
			  <%= link_to "<span>Sign in with LinkedIn</span>".html_safe, user_omniauth_authorize_path(:linkedin), "class" => "button" %>
			  <%= link_to "<span>Sign in with Google</span>".html_safe, user_omniauth_authorize_path(:google_oauth2), "class" => "button" %></p>

		  <h3>First time here?</h3>
		  <p>It's free and easy create an account &mdash; simply log in with your LinkedIn or Google account below. On your first login, we'll ask for your company name and <abbr title="Employer Identification Number">EIN</abbr>. You can use all employer features as soon as you sign in, but we have to approve you (by confirming your company name and <abbr title="Employer Identification Number">EIN</abbr> are real) before you can view Veteran names or email addresses. This process usually takes less than a day.</p>

      </div>
    </div>
  </div><!-- end section one -->

  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to workplace_support_path do %>
              <h5>Workplace Support</h5>
              <span>Some ways to support Veterans and Sevicemembers in the workplace.</span>
            <% end %>
          </li>
          <li>
            <%= link_to on_the_job_training_path do %>
              <h5>On the Job Training</h5>
              <span>Both on-the-job training (OJT) and apprenticeship programs are available for Veterans using their VA education benefits, including the Post-9/11 GI Bill<sup>&reg;</sup></span>
            <% end %>
          </li>
          <li>
            <%= link_to employer_resources_path do %>
              <h5>Resources for Employers</h5>
              <span>On-the-job training information, fact sheets, guides, and additional resources for employers.</span>
            <% end %>
          </li>  
        </ul>
      </div>
    </div>
  </div>
</div>