<%= form_for(@employer) do |f| %>
  <div class="row" id="error_box" <% if !@employer.errors.any? %> style="display:none;" <%end%>>
    <div class="small-12 columns">
      <div data-alert class="alert-box error_highlight">
        <div id="error_explanation">
          <h3><%= pluralize(@employer.errors.count, "error") %> prohibited this employer from being saved:</h3>
          <ul>
            <% @employer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <h3>Company Details (required)</h3>
    <p>You must enter your company name, contact information, and <abbr title="Employer Identification Number">EIN</abbr> before you can start to search.</p>
    <p><abbr>VA</abbr> uses your company name and <abbr title="Employer Identification Number">EIN</abbr> to confirm you are a real company with the <abbr title="Internal Revenue Service">IRS</abbr>. Until approval (which usually takes a few days), you can search Veteran resumes, but you won't be able to see real names or email addresses.</p>

	  <div class="row form-group">
		  <div class="small-12 columns">
			  <%= f.label :company_name, "Employer Name" %>
			  <%= f.text_field :company_name, class: "form-control" %>
		  </div>
	  </div>

	  <div class="row form-group">
		  <div class="small-12 medium-6 columns">
			  <%= f.label :ein, "Employer Identification Number (no dashes)" %>
			  <%= f.text_field :ein, class: "form-control" %>
		  </div>

  		<div class="small-12 medium-6 columns">
  			<%= f.label :phone, "Phone Number" %>
  			<%= f.text_field :phone, class: "form-control" %>
  		</div>
  	</div>

  	<div class="row form-group">
  		<div class="small-12 columns">
  			<%= f.label :street_address, "Street Address" %>
  			<%= f.text_field :street_address, class: "form-control" %>
  		</div>
  	</div>

  	<div class="row form-group">
  		<div class="small-12 medium-8 columns">
  			<%= f.label :city, "City" %>
        <%= f.text_field :city, class: "form-control" %>
  		</div>


		  <div class="small-12 medium-2 columns">
        <%= f.label :state, "State" %>
			  <%= f.select(:state, 	['AL','AK','AZ','AR','CA','CO','CT', 'DC','DE','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VI','VT','VA','WA','WV','WI','WY'], prompt: "Select state") %>
		  </div>

  		<div class="small-12 medium-2 columns">
        <%= f.label :zip, "Zip Code" %>
  			<%= f.text_field :zip, class: "form-control" %>
  		</div>

  	</div>

    <div class="row form-group">
      <div class="small-12 medium-6 columns">
        <%= f.label :poc_name, "Point of Contact Name" %>
        <%= f.text_field :poc_name, class: "form-control" %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :poc_email, "Point of Contact Email" %>
        <%= f.text_field :poc_email, class: "form-control" %>
      </div>
    </div>

	  <h3 id="hiring-commitments">Veteran Hiring Commitment (optional)</h3>
    <p>Share your commitment to hiring Veterans! The information you provide here <b>will be made public</b> to help Veterans seeking employment connect with committed employers. We encourage you to return often to keep this information current.</p>

  	<div class="row form-group">
  	  <div class="small-12 medium-6 columns">
  	    <%= f.label :commit_to_hire, "We are committed to hiring this many Veterans" %>
        <span class="tip">(no commas)</span>
  		  <%= f.number_field :commit_to_hire, class: "form-control" %>
  	  </div>

  	  <div class="small-12 medium-3 columns">
  	    <%= f.label :commit_date, "by this date " %>
        <span class="tip"> (MM/DD/YYYY)</span>
        <%= f.text_field :commit_date,
                value:       (f.object.commit_date.strftime("%m/%d/%Y") if f.object.commit_date.present?),
                err:         "enter date like mm/dd/yyyy",
                placeholder: "MM/DD/YYYY",
                data:        {mask: "99/99/9999"},
                pattern:     "^[012]\\d/[0123]\\d/(?:19|20)\\d{2}$",
                class: "form-control" %>
  	  </div>

  	  <div class="small-12 medium-3 columns">
  	    <%= f.label :commit_hired, "We have hired this many so far" %><span class="tip">(no commas)</span>
  		  <%= f.number_field :commit_hired, class: "form-control" %>

  	  </div>
  	</div>

  	<div class="row form-group">
  	  <div class="small-12 columns">
            <%= f.label :commitment_categories, "We are committed to hiring for these categories: " %>
              <br />
              <%= f.collection_check_boxes(:commitment_categories, Employer::COMMITMENT_CATEGORIES, :to_s, :to_s) do |b| %>
              <%= b.check_box %><%= b.label %>

        <% end %>
  	  </div>
  	</div>

	  <div class="row form-group">
	    <div class="small-12 columns">
	      <%= f.label :website, "Website: " %>
	    </div>
		  <div class="small-12 columns input-group">
        <div class="row collapse">
		      <div class="small-1 columns">
            <span class="prefix">http://</span>
          </div>
          <div class="small-11 columns">
		        <%= f.text_field :website, class: "form-control" %>
          </div>
	      </div>
      </div>
	  </div>

	  <div class="row form-group">
	    <div class="small-12 medium-4 columns">
	      <%= f.label :location, "Location (to display publicly with your commitment): " %>
	    </div>
		  <div class="small-12 columns">
		    <%= f.text_field :location, class: "form-control" %>
	    </div>
	  </div>

	  <div class="row form-group">
	    <div class="small-12 columns">
	      <%= f.label :note, "Types of positions you are looking to fill: " %>
		    <%= f.text_field :note, class: "form-control" %>
	    </div>
	  </div>

    <div class="row form-group">
      <div class="small-12 columns">
        <%= f.label :job_postings_url, "URL of page with job postings" %>
        <%= f.text_field :job_postings_url, class: "form-control" %>
      </div>
      <div class="small-12 columns">
        <p>
          By specifying a job postings URL and making a commitment to hire veterans, your jobs will be featured in the Veterans Employment Center job search. You have several options for this <abbr>URL</abbr>; it can point to any one of the following:
          <ul>
            <li>A <abbr>JSON</abbr> feed of jobs, in the <abbr>NLX</abbr> format;</li>
            <li>Any <abbr>HTML</abbr> page that contains Schema.org markup with JobPosting elements (for more information, see <%= link_to 'Schema.org JobPosting', 'http://schema.org/JobPosting' %>)</li>
          </ul>
        </p>
    </div>
  </div>

    <% if current_user.va_admin? %>
      <div class="row form-group">
        <div class="small-12 columns">
          <%= f.label :admin_notes, "Admin Notes" %>
          <%= f.text_field :admin_notes, class: "form-control" %>
        </div>
      </div>

      <div class="row form-group">
        <div class="small-12 columns">
	  <%= f.label :approved, "Approved" %>
	  <%= f.check_box :approved, class: "form-control" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <div class="actions">
	  <span id="click-button" class="button primary">Update Employer</span>
	  <%= f.submit style: "display:none;", id: "submit-button" %>
        </div>
      </div>
  	</div>

<% end %>
