<% provide(:title, "Commitments") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Careers and Employment", root_path %></li>
          <li class="parent"><%= link_to "Employers", employer_home_path %></li>
	  <li class="active">Commitments</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <% unless user_signed_in? && current_user.is_employer? %>
      <div class="row">
        <div class="small-12 medium-8 columns">
          <div class="primary">
            <p>Veterans and military family members have consistently proven themselves to be reliable, independent, and hardworking team members. Veterans also have soft skills such as problem solving and creativity that can benefit a company’s bottom line. By signing up and making a commitment, your company will stand out to candidates eager to enter the civilian workforce.</p>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="small-12 medium-8 columns">

        <p>Of the <%= @commitment_report.total_employers %> approved employers with the Veterans Employment Center:</p>
        <br>
        <div class="row">
          <div class="small-12 medium-4 columns">
            <div class="card information">
              <span class="number"><%= number_with_delimiter(@commitment_report.total_commitments, :delimiter => ',') %></span>
              <span class="description">public commitments made</span>
            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="card information">
              <span class="number"><%= number_with_delimiter(@commitment_report.commitment_sum, :delimiter => ',') %></span>
              <span class="description">total positions committed to hire</span>
            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="card information">
              <span class="number"><%= number_with_delimiter(@commitment_report.hired_so_far, :delimiter => ',') %></span>
              <span class="description">Veterans hired so far</span>
            </div>
          </div> 

        </div>  
      </div>

      <% if user_signed_in? && current_user.is_employer? %>
      <div class="small-12 medium-4 columns feature">
        <% if current_user.employer.commit_to_hire.present? %>
          <h5>You've publicly committed to hire <%= number_with_delimiter(current_user.employer.commit_to_hire, :delimiter => ',') %> Veterans<% if current_user.employer.commit_date.present? %> by <%= current_user.employer.commit_date.strftime("%b %d, %Y") %><% end %>.<% if current_user.employer.commit_hired.present? %> So far, you've hired <%= number_with_delimiter(current_user.employer.commit_hired, :delimiter => ',') %>.<% end %>
          </h5>
          <div class="actions">
            <%= link_to "Update Your Commitment", edit_employer_path(current_user.employer, anchor: 'hiring-commitments' ), class: 'button expand' %>
          </div>
        <% else %>
          <h5>You haven't yet made a public commitment to hire Veterans.</h5>
          <br/><br/>
          <div class="actions">
            <%= link_to "Make/Update Your Commitment", edit_employer_path(current_user.employer, anchor: 'hiring-commitments' ), class: 'button expand' %>
          </div>
        <% end %>
      </div>
      <% else %><!-- employer not logged in -->
      
      <div class="small-12 medium-4 columns feature">
        <h5>Employers:<br />Log in to create/manage your hiring commitment.</h5>
        <div class="actions">
          <%= link_to "Sign in with LinkedIn", user_omniauth_authorize_path(:linkedin), class: "button social linkedin expand" %> <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "button social googleplus expand" %>
          </div>
      </div>
    <% end %>

    </div><!-- end row 2 -->
    
    <div class="row">
      <h4>Commitments</h4>
      <table id="commitments" role="grid">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Committed to hire</th>
            <th scope="col">Target hire date</th>
            <th scope="col">Hired so far</th>
	          <th scope="col">Last updated</th>
          </tr>
        </thead>
        <tbody>
          <% @commitment_report.committed.each do |employer| %>
            <tr>
              <td class="employer_name">
                <%= render partial: 'commitment_summary', locals: {employer: employer} %>
              </td>
              <td><%= employer.commit_to_hire %></td>
              <td><%= employer.commit_date %></td>
              <td><%= employer.commit_hired %></td>
	            <td><%= employer.updated_at.to_s[0..9] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to 'Download all commitments as a spreadsheet'.html_safe, action: 'commitments', format: :csv %></p>
    </div><!-- end row 3 -->

  </div><!-- end section one -->


<script>
  $(document).ready(function(){
    $('#commitments').dataTable({
      'paging':    true,
      'info':      false,
      'searching': true,
        'order': [[1, "desc"]],
        'processing': true,
        'serverSide': true,
        'ajax': '<%= commitments_path %>',
        'columns': [
            {'data': 'summary'},
            {'data': 'commit_to_hire'},
            {'data': 'commit_date'},
            {'data': 'commit_hired'},
	          {'data': 'updated_at',
	           'render': function ( data, type, row ) {
		             return data.substr(0,10);
	              }
	             }
             ]

  });
});
</script>
