<% provide(:title, "Commitments") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
      <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
          <li class="parent"><%= link_to "Employers", employer_home_path %></li>
          <li class="active">Commitments</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">
    <% unless user_signed_in? && current_user.is_employer? %>
      <div class="row">
          <div class="small-12 columns">
          <p>Employers every day are committing to hire Veterans &mdash; you should too! Check out the list below to see what employers have already made a commitment and then <%= link_to "create or update your profile", new_user_session_path %> to signal your commitment.</p>
        </div>
      </div><!-- end row 1 -->
    <% end %>

    <div class="row">
      <div class="small-12 medium-8 columns">
        <p>Of the <%= @commitment_report.total_employers %> registered employers with the Veteran Employment Center&trade;:</p>
        <ul class="plain">
          <li><strong><%= @commitment_report.total_commitments %></strong> public commitments made</li>
          <li><strong><%= @commitment_report.commitment_sum %></strong> total positions committed to hire</li>
          <li><strong><%= @commitment_report.hired_so_far %></strong> Veterans hired so far</li>
        </ul>
        <p><%= link_to 'Download all commitments as spreadsheet'.html_safe, action: 'commitments', format: :csv %></p>
      </div>
      <% if user_signed_in? && current_user.is_employer? %>
        <div class="small-12 medium-4 columns feature">
          <% if current_user.employer.commit_to_hire.present? %>
            <h5>You've publicly committed to hire <%= current_user.employer.commit_to_hire %> Veterans<% if current_user.employer.commit_date.present? %> by <%= current_user.employer.commit_date.strftime("%b %d, %Y") %><% end %>.<% if current_user.employer.commit_hired.present? %> So far, you've hired <%= current_user.employer.commit_hired %>.<% end %>
            </h5>
            <div class="actions">
              <%= link_to "Update Your Commitment", edit_employer_path(current_user.employer, anchor: 'hiring-commitments' ), class: 'button expand' %>
            </div>
          <% else %>
            <h5>You haven't yet made a public commitment to hire Veterans.</h5>
            <br/><br/>
            <div class="actions">
              <%= link_to "Make/Update Your Commitment", edit_employer_path(current_user.employer, anchor: 'hiring-commitments' ), class: 'button expand' %>
            </div>
          <% end %>
        </div>
        <% else %><!-- employer not logged in -->
        <div class="small-12 medium-4 columns feature">
          <h5>Employers:<br />Log in to create/manage your hiring commitment.</h5>
          <div class="actions">
            <%= link_to "Sign in with LinkedIn", user_omniauth_authorize_path(:linkedin), class: "button social linkedin expand" %> <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "button social googleplus expand" %>
            </div>
        </div>
      <% end %>
    </div><!-- end row 2 -->
    <div class="row">
      <h4>Commitments</h4>
      <table id="commitments" role="grid">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Committed to hire</th>
            <th scope="col">By date</th>
            <th scope="col">Hired so far</th>
          </tr>
        </thead>
        <tbody>
          <% @commitment_report.committed.each do |employer| %>
            <tr>
              <td class="employer_name">
                <%= render partial: 'commitment_summary', locals: {employer: employer} %>
              </td>
              <td><%= employer.commit_to_hire %></td>
              <td><%= employer.commit_date %></td>
              <td><%= employer.commit_hired %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>&nbsp;</p>
    </div><!-- end row 3 -->

  </div><!-- end section one -->

  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <%= link_to career_fairs_path do %>
              <h5>Career Fairs</h5>
              <span>In-person and online events where Veterans, Servicemembers, and their families can meet employers and learn about job opportunities.</span>
            <% end %>
          </li>
          <li>
            <%= link_to on_the_job_training_path do %>
              <h5>On the Job Training</h5>
              <span>Both on-the-job training (OJT) and apprenticeship programs are available for Veterans using their VA education benefits, including the Post 9/11 GIBill®</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('#commitments').dataTable({
      'paging':    true,
      'info':      false,
      'searching': true,
        'order': [[1, "desc"]],
        'processing': true,
        'serverSide': true,
        'ajax': '<%= commitments_path %>',
        'columns': [
            {'data': 'summary'},
            {'data': 'commit_to_hire'},
            {'data': 'commit_date'},
            {'data': 'commit_hired'}

      ]

  });
});
</script>
