<% provide(:title, "Favorite Veteran Profiles") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <%= render 'layouts/navigation' %>
  <nav class="va-nav-breadcrumbs">
    <ul class="row va-nav-breadcrumbs-list" role="menubar" aria-label="Primary">
      <li><a href="/">Home</a></li>
      <li><%= link_to "Careers and Employment", root_path %></li>
      <li class="parent"><%= link_to "Employers", employer_home_path %></li>
      <li class="active">Edit Profile</li>
    </ul>
  </nav>
  <div class="section one">
    <div class="row">
      <div class="small-12 columns">
        <div id="veteran-favorites">
          <% if current_user.va_admin? %>
            <h2>Edit the Profile for <%= @employer.company_name %></h2>
          <% else %>
            <h2>Edit your profile</h2>
          <% end %>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
